
<div class="h-full w-full flex items-center text-center flex-col">
    <section class="name_profile w-40 pb-2">
        <span class="font-bold text-base text-black">Darkmen203</span>

    </section>
    <section class="image_profile w-40">
        <img src="/mQ6093WS04sftZpfp7E5SJIyK9jym8dCz0RfxHKZd4XDz18z1.jpg" class="w-full" alt="your picture">
    </section>
    <section class="status">
        <# Регистрация %>
        <# Количество постов %>
        <# Репутация? %>
        <# Количество ответов %>
    </section>
</div>